@{
    ViewBag.Title = "Useful";
}

<div class="jumbotron">
    <h6 class="display-4 text-center">Tips for a Pleasant and Safe Stay in Nature</h6>
    <p class="lead text-center" style="color:black;font-size:30px"><em>Read Carefully Before You go to Nature</em></p>
</div>

<div>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Avoid hiking <strong>in the nature alone!</strong></span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Before you go, inform someone about your route, the time for transition, and the time of your return!</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span><strong>Study the route</strong> carefully and assess your abilities! <strong>Check the weather forecast</strong> and conditions in the area!</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Get the <strong>PSS mobile app</strong> on your phone! Many mobile phones have the ability to send the coordinates of their location. Make sure you know how to do it.</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>If you have a serious problem, call for help on <strong>112 or 1470</strong> and send an SMS with your coordinates via the mobile application of PSS. Once you have connected to the PSS, keep your phone switched on and stay put. Do not make unnecessary calls to save phone battery!</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px;">
        <span class="font-weight-bolder">Get the necessary tourist equipment:</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Tourist backpack, Suitable hiking boots with a rough and large gripper, Comfortable clothes with bright colors and socks, Warm outerwear, scarf, hat and gloves</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Raincoats - for the man and the backpack, Sunglasses and high factor sunscreen, Essential medicines</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Water, durable and high-calorie food</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Map, compass, guidebook, Rope, electric flashlight, tourist knife</span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span>Mobile phone with well charged battery, GPS, Documents and money </span>
    </p>
    <p class="lead text-center" style="color:black;font-size:22px">
        <span class="font-weight-bolder">Be sure to get mountain insurance!</span>
    </p>

    <hr class="my-4">

    <p class="lead text-center">
        <a asp-controller="Walks" asp-action="Add" class="btn btn-info btn-lg" role="button">Get insurance online here</a>
    </p>

</div>




<!--
<span class="font-weight-bold">Be sure to get mountain insurance!</span>

 <div class="row"></div>

<div class="col-6"></div>

<div class="mb-3"></div>

-->
