<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">My insurances</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">StartDate</th>
                        <th scope="col">EndDate</th>
                        <th scope="col">Number of people</th>
                        <th scope="col">TotalPrice</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StartDate</td>
                            <td>@item.EndDate</td>
                            <td>@item.NumberOfPeople</td>
                            <td>@item.TotalPrice</td>
                            <td>
                                <div class="button-holder">
                                    <a href="/Insurances/Details?insuranceId=@item.Id" class="btn btn-info text-uppercase">Details</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
