@model ContactConfirmMessageViewModel
@{
    this.ViewBag.Title = "Contacts";
}
<h3 class="display-4">Your message sent successfully.</h3>
<hr />
<br />
<h3>@Model.SenderName, thank you for contacting us!</h3>

